@page
@model TestResultModel

@if (Model.TestRun is null)
{
    <h2>Test run was not found :(</h2>
}
else
{
    <h2>Test run @Model.TestRun.TimeOfRun.ToString("HH:mm dd-MM-yyyy")</h2>

    var summary = Model.TestRun.Summary;
    var summaryStatus = summary.AllTestsPassed ? "passed" : "failed";

    <div class="alert summary @summaryStatus">
        <h5 class="no-margin">
            Passed: @summary.NumberOfTestsPassed,
            Failed: @summary.NumberOfTestsFailed,
            Ignored: @summary.NumberOfTestsIgnored
        </h5>
    </div>

    foreach (var (assemblyName, testResults) in Model.TestResultsByAssembly)
    {
        <div class="container-fluid assembly">

            <div class="container-fluid">
                <h4>@assemblyName</h4>
            </div>

            @foreach (var testResult in testResults)
            {
                var testStatus = "failed";
                if (testResult.Passed)
                {
                    testStatus = "passed";
                }
                if (testResult.Ignored)
                {
                    testStatus = "ignored";
                }

                <hr>
                <div class="container-fluid">

                    <h5>
                        @testResult.ClassName.@testResult.MethodName:
                        <b class="label-@testStatus">@testStatus</b>
                    </h5>

                    @if (!testResult.Passed)
                    {
                        <p>
                            <b>Message</b>: @testResult.ErrorMessage
                        </p>
                    }
                    else if (testResult.Ignored)
                    {
                        <p>
                            <b>Reason</b>: @testResult.IgnoreReason
                        </p>
                    }

                </div>
            }

        </div>
    }
}
